%h3= @oven.name

.oven-mobile
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

- @oven.cookies.each do |cookie|
  .cookie-info{ data: { cookie_id: cookie.id } }
    = render partial: 'cookie_info', locals: { cookie: cookie }

%br
= retrieve_cookies_button

.oven-desktop
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'prepare-cookies button'
